# 1. Ignore EVERYTHING in the project root
*

# 2. Whitelist (Un-ignore) the specific addon folder
!/addons/lazy_resource/

# 3. Whitelist essential repo metadata
!LICENSE
!README.md
!.gitignore

# 4. SAFETY NET:
# Even though we un-ignored "addons/**", we want to make sure 
# we don't accidentally commit temporary Godot files if they appear there.
.godot/
*.translation
*.uid







